<h1 class='page-header'><%= t('apipie_dsl.no_doc_found') %></h1>
<p><%= t('apipie_dsl.no_docs_found_descr') %></p>
<p><%= t('apipie_dsl.follow_instructions_html', href: link_to(t('apipie_dsl.follow_instructions_href'),
        'https://github.com/ofedoren/apipie-dsl#getting-started', :target => '_blank')) %></p>
